.top {
    background-color: #73778b;
    color: #ececec;
    height: 51px;
}

table {
    position: relative;
    width: 90%;
    left: 4em;
    top: 4em;
}

.editar {
    background-color: #73ce8e;
    color: #fff;
    width: 100px;
}

.eliminar {
    width: 100px;
}

.agregar {
    color: #fff;
    left: 4em;
    top: 3em;
}

.contactoIcon {
    position: relative;
    left: 50em;
}

.filtro {
    position: relative;
    left: 6em;
    top: 3em;
}